<footer role="contentinfo">
      <div class="region region-footer">
    <section id="block-views-recent-blog-posts-block-2" class="block block-views footer-blog-posts clearfix">


  <div class="content">
    <section class="article-list blog">
            <div class="view-header">
      <h2><a href="https://mol.org/news">Latest News</a></h2>    </div>



          <article>

          <h4><a href="https://mol.org/news/mol-blog/2015/04/new-species-map-page-map-life">The new species map page in Map of Life</a></h4>
          <em class="date"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2015-04-30T00:00:00-04:00">April 30, 2015</span></em>    </article>
  <article>

          <h4><a href="https://mol.org/news/mol-blog/2015/01/preview-how-evaluate-species-conservation-google-earth-engine">A preview of how to evaluate species conservation with Google Earth Engine</a></h4>
          <em class="date"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2015-01-08T00:00:00-05:00">January 8, 2015</span></em>    </article>






</section>  </div>
</section>
<section id="block-menu-block-4" class="block block-menu-block footer-main-menu clearfix">


  <div class="content">
    <div class="menu-block-wrapper menu-block-4 menu-name-main-menu parent-mlid-0 menu-level-1">
  <ul class="menu"><li class="first expanded menu-mlid-1213"><a href="http://species.mol.org" title="">Explore the Map</a><ul class="menu"><li class="first leaf menu-mlid-1223"><a href="https://species.mol.org/pa" title="">Species in Reserves</a></li>
<li class="leaf menu-mlid-1224"><a href="https://map.mol.org/lists" title="">Species lists by location</a></li>
<li class="last leaf menu-mlid-1225"><a href="https://species.mol.org/species/map/" title="">Species maps</a></li>
</ul></li>
<li class="expanded menu-mlid-943"><a href="https://mol.org/news">News</a><ul class="menu"><li class="first leaf menu-mlid-958"><a href="https://mol.org/news/press" title="Listing of all MoL Press articles">Press</a></li>
<li class="last leaf has-children menu-mlid-945"><a href="https://mol.org/news/blog">Blog</a></li>
</ul></li>
<li class="expanded menu-mlid-954"><a href="https://mol.org/about">About MOL</a><ul class="menu"><li class="first leaf menu-mlid-879"><a href="https://mol.org/about/governance">Governance</a></li>
<li class="leaf menu-mlid-933"><a href="https://mol.org/about/team">Team</a></li>
<li class="leaf menu-mlid-927"><a href="https://mol.org/about/partnerships">Partnerships</a></li>
<li class="last leaf menu-mlid-942"><a href="https://mol.org/about/data-stats">Data Stats</a></li>
</ul></li>
<li class="last expanded menu-mlid-1214"><a href="https://auth.mol.org/mobile" title="">Mobile</a><ul class="menu"><li class="first leaf menu-mlid-1219"><a href="https://auth.mol.org/dashboard" title="">Dashboard</a></li>
<li class="leaf menu-mlid-1220"><a href="https://mol.org/mobile/download" title="">Download</a></li>
<li class="leaf menu-mlid-1221"><a href="https://auth.mol.org/mobile/supporters" title="">Supporters</a></li>
<li class="leaf menu-mlid-1222"><a href="https://auth.mol.org/mobile/sources" title="">Sources</a></li>
<li class="last leaf menu-mlid-1218"><a href="https://auth.mol.org/mobile/team" title="">Team</a></li>
</ul></li>
</ul></div>
  </div>
</section>
<section id="block-block-3" class="block block-block meta">


  <div class="content">
    <p><a href="http://github.com/MapOfLife/MOL" class="ext" target="_blank"><i class="icon icon-github"></i><span class="ext"><span class="element-invisible"> (link is external)</span></span></a> <a href="https://twitter.com/moldotorg" class="ext" target="_blank"><i class="icon icon-twitter-sign"></i><span class="ext"><span class="element-invisible"> (link is external)</span></span></a> <a href="https://www.facebook.com/moldotorg" class="ext" target="_blank"><i class="icon icon-facebook-sign"></i><span class="ext"><span class="element-invisible"> (link is external)</span></span></a> <a href="https://www.google.com/+MolOrg
" class="ext" target="_blank"><i class="icon icon-google-plus-sign"></i><span class="ext"><span class="element-invisible"> (link is external)</span></span></a> ©2015 MOL. All rights reserved.</p>  </div>
</section>
<section id="block-nice-menus-3" class="block block-nice-menus footer-menu">


  <div class="content">
    <ul class="nice-menu nice-menu-down nice-menu-menu-footer-links nice-menus-processed sf-js-enabled" id="nice-menu-3"><li class="menu-1086 menu-path-node-6878 first odd "><a href="https://mol.org/about/partnerships" title="">Supporters</a></li>
<li class="menu-934 menu-path-node-6881  even "><a href="https://mol.org/content/feedback">Feedback</a></li>
<li class="menu-1217 menu-path-node-17659  odd "><a href="https://mol.org/privacy" title="">Privacy Policy</a></li>
<li class="menu-1216 menu-path-node-17665  even last"><a href="https://mol.org/tos" title="">Terms of Service</a></li>
</ul>
  </div>
</section>
  </div>
 </footer>
