<footer role="contentinfo">
      <div class="region region-footer thin">


<section id="block-block-3" class="block block-block meta">


  <div class="content">
    <p><a href="http://github.com/MapOfLife/MOL" class="ext" target="_blank"><i class="icon icon-github"></i><span class="ext"><span class="element-invisible"> (link is external)</span></span></a> <a href="https://twitter.com/moldotorg" class="ext" target="_blank"><i class="icon icon-twitter-sign"></i><span class="ext"><span class="element-invisible"> (link is external)</span></span></a> <a href="https://www.facebook.com/moldotorg" class="ext" target="_blank"><i class="icon icon-facebook-sign"></i><span class="ext"><span class="element-invisible"> (link is external)</span></span></a> <a href="https://www.google.com/+MolOrg
" class="ext" target="_blank"><i class="icon icon-google-plus-sign"></i><span class="ext"><span class="element-invisible"> (link is external)</span></span></a> ©2015 MOL. All rights reserved.</p>  </div>
</section>
<section id="block-nice-menus-3" class="block block-nice-menus footer-menu">


  <div class="content">
    <ul class="nice-menu nice-menu-down nice-menu-menu-footer-links nice-menus-processed sf-js-enabled" id="nice-menu-3"><li class="menu-1086 menu-path-node-6878 first odd "><a href="https://mol.org/about/partnerships" title="">Supporters</a></li>
<li class="menu-934 menu-path-node-6881  even "><a href="https://mol.org/content/feedback">Feedback</a></li>
<li class="menu-1217 menu-path-node-17659  odd "><a href="https://mol.org/privacy" title="">Privacy Policy</a></li>
<li class="menu-1216 menu-path-node-17665  even last"><a href="https://mol.org/tos" title="">Terms of Service</a></li>
</ul>
  </div>
</section>
  </div>
 </footer>
