 <div class="navigation">
    <div class="container-fluid">
      <nav class="navbar navbar-default" id="navbar" role="navigation">
        <species-search  class="info_search" species="species"></species-search>
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" ng-click="isCollapsed = !isCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">Brand</a> -->
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse visible-xs" id="bs-example-navbar-collapse-1" collapse="!isCollapsed">
            <ul class="nav navbar-nav">
              <li
                ui-sref="species.overview({scientificname: cleanURLName(species.scientificname)})"
                ui-sref-opts="{reload: true}"
                ui-sref-active="nav_selected"><a href="#">Overview</a></li>
              <li ui-sref="detail({scientificname: cleanURLName(species.scientificname)})"
              ui-sref-opts="{reload: true}" ui-sref-active="nav_selected"><a href="#">Detailed Map</a></li>
              <li ui-sref="species.range({scientificname: cleanURLName(species.scientificname)})"
              ui-sref-opts="{reload: true}" ui-sref-active="nav_selected"><a href="#">Habitat Distribution</a></li>
              <!--<li  ui-sref="species.habitat({scientificname: cleanURLName(species.scientificname)})"
              ui-sref-active="nav_selected"><a href="#">Habitat Change</a></li>-->
              <li  ui-sref="species.protect({scientificname: cleanURLName(species.scientificname)})"
              ui-sref-opts="{reload: true}" ui-sref-active="nav_selected"><a href="#">Reserve Coverage</a></li>

            </ul>
            <ul class="nav navbar-nav visible-xxxs visible-xxs">
                <li>
                    <a href="#/info" ng-class="{selected: $state.includes('info')}">
                       <i class="fa fa-info"></i>Species Info</a>
                </li>
                <li>
                    <a ng-href="http://map.mol.org/lists">
                        <i class="fa fa-list-ol icon"></i>Species Lists by Location</a>
                </li>
            </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
</div>
