<!DOCTYPE html>
<html lang="en" ng-app="mol">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Jeremy Malczyk, jeremy@mol.org">
  <title ng-bind="'Map of Life - ' + $state.current.title"></title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"></link>
  <link rel="stylesheet" href="//mol.org/static/css/mol-basic.css"></link>
  <link rel="stylesheet" href="//mol.org/static/css/mol-header.css"></link>
  <link rel="stylesheet" href="//mol.org/static/css/mol-footer.css"></link>
  <link rel="stylesheet" href="//mol.org/static/css/mol-navbar.css"></link>
  {% if not prod %}
    <link rel="stylesheet" href="/location/assets/css/app.min.css?{{rand}}"></link>
  {% endif %}
  <base href="/">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js?{{rand}}','ga');
    ga('create', 'UA-26993916-3', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div class="mol-view-container" ui-view></div>
  {% if prod %}
    <script src="/location/assets/app.min.js?{{rand}}"></script>
  {% else %}


    <!--third party libs-->
    <script src="/location/assets/components/bower/jquery/dist/jquery.js?{{rand}}"></script>
    <script src="/location/assets/components/bower/angular/angular.js?{{rand}}"></script>
    <script src="/location/assets/components/bower/angular-resource/angular-resource.js?{{rand}}"></script>
    <script src="/location/assets/components/bower/angular-sanitize/angular-sanitize.js?{{rand}}"></script>
    <script src="/location/assets/components/bower/angular-cookies/angular-cookies.js?{{rand}}"></script>
    <script src="/location/assets/components/bower/angular-bootstrap/ui-bootstrap-tpls.js?{{rand}}"></script>
    <script src="/location/assets/components/bower/angular-ui-router/release/angular-ui-router.js?{{rand}}"></script>
    <script src="/location/assets/components/bower/angular-resizable/angular-resizable.min.js?{{rand}}"></script>
    <script src="/location/assets/components/bower/angular-loading-bar/build/loading-bar.js?{{rand}}"></script>
    <script src="/location/assets/components/bower/lodash/lodash.js?{{rand}}"></script>
    <script src="/location/assets/components/bower/leaflet/dist/leaflet.js?{{rand}}"></script>
    <script src="/location/assets/components/bower/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js?{{rand}}"></script>
    <script src="/location/assets/components/bower/angular-leaflet-directive/dist/angular-leaflet-directive.js?{{rand}}"></script>
    <script src="/location/assets/components/bower/angular-bootstrap-checkbox/angular-bootstrap-checkbox.js?{{rand}}"></script>
    <!--mol components-->

    <script src="/location/assets/components/mol/species-list/templates.js?{{rand}}"></script>
    <script src="/location/assets/components/mol/species-list/component.js?{{rand}}"></script>

    <script src="/location/assets/components/mol/species-detail/templates.js?{{rand}}"></script>
    <script src="/location/assets/components/mol/species-detail/component.js?{{rand}}"></script>

    <script src="/location/assets/components/mol/species-images/templates.js?{{rand}}"></script>
    <script src="/location/assets/components/mol/species-images/component.js?{{rand}}"></script>

    <script src="/location/assets/components/mol/species-wiki/templates.js?{{rand}}"></script>
    <script src="/location/assets/components/mol/species-wiki/component.js?{{rand}}"></script>

    <script src="/location/assets/components/mol/loading-indicator/templates.js?{{rand}}"></script>
    <script src="/location/assets/components/mol/loading-indicator/component.js?{{rand}}"></script>

    <script src="/location/assets/components/mol/location-map/templates.js?{{rand}}"></script>
    <script src="/location/assets/components/mol/location-map/component.js?{{rand}}"></script>

    <script src="/location/assets/components/mol/consensus-map/templates.js?{{rand}}"></script>
    <script src="/location/assets/components/mol/consensus-map/component.js?{{rand}}"></script>

    <script src="/location/assets/components/mol/taxa-counts/templates.js?{{rand}}"></script>
    <script src="/location/assets/components/mol/taxa-counts/component.js?{{rand}}"></script>

    <script src="/location/assets/components/mol/auth/templates.js?{{rand}}"></script>
    <script src="/location/assets/components/mol/auth/component.js?{{rand}}"></script>
    <!--mol app files-->
    <script src="/location/assets/js/helpers.js?{{rand}}"></script>
    <script src="/location/assets/js/app.js?{{rand}}"></script>
    <script src="/location/assets/js/services.js?{{rand}}"></script>

    <script src="/location/assets/js/filters.js?{{rand}}"></script>
    <script src="/location/assets/js/directives.js?{{rand}}"></script>
    <script src="/location/assets/views/location/controller.js?{{rand}}"></script>
  {% endif %}
</body>
</html>
